<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pipapps.emicalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMICalculator">
        <activity android:name=".rateofinterest.RateStatisticsActivity"></activity>
        <activity android:name=".rateofinterest.RateOfInterestActivity" />
        <activity
            android:name=".LoanCompairActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".interestpayout.InterestStatisticsActivity"
            android:parentActivityName=".fdcalculator.InterestPayoutActivity" />
        <activity
            android:name=".fdcalculator.FdStatisticsActivity"
            android:parentActivityName=".fdcalculator.FdActivity" />
        <activity
            android:name=".rdcalculator.RdStatisticsActivity"
            android:parentActivityName=".rdcalculator.RdActivity" />
        <activity
            android:name=".rdcalculator.RdActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fdcalculator.InterestPayoutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fdcalculator.FdActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EmiStatiscticsActivity"
            android:parentActivityName=".EmiCalculateActivity" />
        <activity android:name=".EmiCalculateActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>